/.idea/.idea.BarBestellSystem/.idea/.gitignore
/.idea/.idea.BarBestellSystem/.idea/encodings.xml
/.idea/.idea.BarBestellSystem/.idea/indexLayout.xml
/.idea/.idea.BarBestellSystem/.idea/vcs.xml
/BarBestellSystem/bin/*
/BarBestellSystem/obj/*
/Application/bin/*
/Application/obj/*
